.skills {
  background-color: #f6f6f6;
  padding: 100px 0 100px 0;
}

.skillsWrapper {
  margin-top: 45px;
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
}

.skillBg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  width: 80px;
  border-radius: 8px;
  margin: 15px 15px 0 0;
  img {
    transition: transform 0.4s;
  }
}

.skillBg:hover img {
  transform: scale(1.1);
} 

.skillBg:hover .tooltip {
  opacity: 1;
}

.tooltip {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  width: max-content;
  top: -40px;
  padding: 5px;
  color: #FFFFFF;
  opacity: 0;
}

@media (max-width: 768px) {
  .skills {
    padding: 60px 0;
  }
  .skills h3 {
    text-align: center;
  }
  .skills h4 {
    text-align: center;
  }
  .leftBlock {
    margin-right: 0px;
  }
  .skillsWrapper {
    justify-content: center;
  }
  .skillsIcons {
    justify-content: center;
  }
}